[submodule "editor/vendor/source/imgui"]
	path = editor/vendor/source/imgui
	url = https://github.com/ocornut/imgui
[submodule "editor/vendor/source/imguizmo"]
	path = editor/vendor/source/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "editor/vendor/source/imnodes"]
	path = editor/vendor/source/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "engine/vendor/source/DirectXTex"]
	path = engine/vendor/source/DirectXTex
	url = https://github.com/Microsoft/DirectXTex
[submodule "vendor/source/entt"]
	path = vendor/source/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/source/nlohmann"]
	path = vendor/source/nlohmann
	url = https://github.com/nlohmann/json
